<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smbms.dao.bill.BillMapper">
	<select id="getBillCount" resultType="int">
		select count(1) from smbms_bill
		<trim prefix="where" prefixOverrides="and | or">
			<if test="productName !=null and productName !=''">
				and productName like CONCAT('%',#{productName},'%')
			</if>
			<if test="providerId!=null and providerId!=''">
				and providerId=#{providerId}
			</if>
			<if test="queryIsPayment!=null and queryIsPayment!=''">
				and isPayment=#{queryIsPayment}
			</if>
		</trim>
	</select>
	<select id="getBillList" resultType="Bill">
		SELECT b.*,p.proName AS providerName FROM smbms_bill b INNER JOIN
		smbms_provider p ON b.providerId=p.id
		<trim prefix="where" prefixOverrides="and | or">
			<if test="productName !=null and productName !=''">
				and b.productName like CONCAT('%',#{productName},'%')
			</if>
			<if test="providerId!=null and providerId!=''">
				and b.providerId=#{providerId}
			</if>
			<if test="queryIsPayment!=null and queryIsPayment!=''">
				and b.isPayment=#{queryIsPayment}
			</if>
		</trim>
		order by b.creationDate DESC limit #{from},#{pageSize}
	</select>
	<!-- 根据ID查找Bill -->
	<select id="getBillById" resultType="Bill">
		SELECT b.*,p.proName AS providerName FROM smbms_bill b INNER JOIN
		smbms_provider p ON b.providerId=p.id
		<trim prefix="where" prefixOverrides="and | or">
			<if test="id!=null and id!=''">
				and b.id=#{id}
			</if>
		</trim>
	</select>
	<!-- 保存订单信息 -->
	<insert id="save" parameterType="bill">
	 	INSERT INTO smbms.smbms_bill(billCode,productName,productDesc,productUnit,productCount,totalPrice,isPayment,createdBy,creationDate,modifyBy,modifyDate,providerId)
        VALUES
        (#{billCode},#{productName},#{productDesc},#{productUnit},#{productCount},#{totalPrice},#{isPayment},#{createdBy},#{creationDate},#{modifyBy},#{modifyDate},#{providerId})
	</insert>
</mapper>