<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smbms.dao.user.UserMapper">
	<select id="getLoginUser" resultType="User">
		select
		u.id,u.userCode,u.userName,u.userPassword,u.gender,u.birthday,u.phone,u.address,u.userRole,u.createdBy,u.creationDate 
		from
		smbms_user u
		<trim prefix="where" prefixOverrides="and | or">
			<if test="userCode != null">
				and u.userCode = #{userCode}
			</if>
		</trim>
	</select>

	<select id="getUserCount" resultType="Int">
		select count(1) as count from smbms_user u,smbms_role r where
		u.userRole = r.id
		<if test="userRole != null  and userRole != ''">
			and u.userRole = #{userRole}
		</if>
		<if test="userName != null and userName != ''">
			and u.userName like CONCAT ('%',#{userName},'%')
		</if>
	</select>

	<select id="getUserList" resultType="User">
		select
		u.id,u.userCode,u.userName,u.userPassword,u.gender,u.birthday,u.phone,u.address,u.userRole,u.createdBy,r.roleName
		as userRoleName,u.creationDate from smbms_user u,smbms_role r where u.userRole
		= r.id
		<if test="userRole != null and userRole != ''">
			and u.userRole = #{userRole}
		</if>
		<if test="userName != null and userName != ''">
			and u.userName like CONCAT ('%',#{userName},'%')
		</if>
		order by u.creationDate DESC limit #{from},#{pageSize}
	</select>

	<!-- 根据ID查询用户对象 -->
	<select id="getUserById" resultType="User">
		select
		u.id,u.userCode,u.userName,u.userPassword,u.gender,u.birthday,u.phone,u.address,u.userRole,u.createdBy,r.roleName
		as userRoleName,u.creationDate,u.idPicPath,u.workPicPath from smbms_user u,smbms_role r where u.userRole
		= r.id
		<if test="id!=null">
			and u.id=#{id}
		</if>
	</select>

	<!-- 根据ID删除用户对象 -->
	<delete id="delete">
		delete from smbms_user where id=#{id}
	</delete>
	
	<!-- 修改用户密码 -->
	<update id="updatePwd">
	    update smbms_user set userPassword=#{userPassword}
	    where id=#{id}
	</update>
	
	<!-- 添加用户 -->
	<insert id="insert" parameterType="user">
		INSERT INTO smbms.smbms_user (userCode, 	userName, userPassword, gender, birthday, phone, address, userRole, createdBy, creationDate, modifyBy, modifyDate, idPicPath, workPicPath)VALUES( #{user.userCode}, #{user.userName}, #{user.userPassword}, #{user.gender}, #{user.birthday}, #{user.phone}, #{user.address}, #{user.userRole}, #{user.createdBy}, #{user.creationDate}, #{user.modifyBy}, #{user.modifyDate}, #{user.idPicPath}, #{user.workPicPath})
	</insert>
	
	
</mapper>